# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
ENV/
env/
*.egg-info/
*.egg

# Django
db.sqlite3
staticfiles/
media/
*.log

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# PostgreSQL
*.pgsql
*.psql
*.db